<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <div class="navbar">
 <% if user_signed_in? %>
  signed in as <%= current_user.email %>.not you?
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 <%else%>
  <%= link_to "SIgn Up",new_user_registration_path%> or <%=link_to "Sign In",new_user_session_path%>
 <%end%> 
</div>
 <% flash.each do |name, msg| %>
   <%= content_tag :div, msg, :id => "flash_#{name}"%>
 <% end %>	
 
    <%= yield %>
  </body>
</html>
